@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Battambang:wght@100;300&family=Gowun+Batang:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: sticky;
    top: 0;
    z-index: 9.99;
    background-color: aliceblue;
}

.logo img{
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
}
#check, #checkmenu, #cancell{display: none;}
.checkbtn{
    float: right;
    font-size: 180%;
    margin-top: -3rem;
}
nav ul{
    margin-right: 6%;
    float: right;
    margin-top: -2.5rem;
    word-spacing: 2rem;
}
nav ul li{
    display: inline-block;
}
nav ul li a{
    position: relative;
    color: black;
}
nav ul li a::before{
    position: absolute;
    content: '';
    right: 0;
    bottom: -3px;
    height: 4px;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: all 0.2s linear;
}
nav ul li a:hover:before{
    background-color: green;
    transform: scaleX(1);
    transform-origin: right;
}
.active{
    border-bottom: 4px solid green;
}
.container{
    width: 98%;
    margin: auto;
}
.home{
    width: 100%;
    margin: auto;
    background-image: url(../images/computer.webp);
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color:  #0d1028c7;
}
.strong-title{
    color: orange;
}
.title ,.small{
    padding: 0 2rem;
    text-align: center;
    color: white;
    line-height: 2.5rem;
}
.both-btn{
    margin: auto;
    margin-top: 1rem;
    display: flex;
    width: 12rem;
}
.btn{
    margin-top: 1rem;
    border-radius: 0.2rem;
    width: 6.5rem;
}
.btn-download{
    width: 100%;
    margin-top: 4rem;
    text-align: center;
}
button{
    color: white;
    padding: 0.6rem;
    background-color: green;
}
button a{
    color: orange;
    font-size: medium;
}
button:hover{
    cursor: pointer;
    transition: all 0.6s;
    color: orange;
    background-color: white;
    border: 1px solid #0D1028;
}
.btn-rht{
    width: 5.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.btn-lft{
    width: 5.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}
.text-middle{
    width: 98%;
    text-align: center;
    position: relative;
    top: -0.6rem;
    color: white;
}
.hd-middle{
    padding: 0.8rem 3rem;
    background-color: green;
    clip-path: polygon(100% 0, 90% 51%, 100% 100%, 0 100%, 10% 51%, 0 0);
}
.card{
    display: flex;
    margin:1rem auto;
}
.image{
    border-top: 2px solid green;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-cotent{
    border-top: 2px solid green;
    border-radius: 0.5rem;
    width: 50%;
    padding: 1rem 3rem;
    line-height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/* -------------- About ---------- */
.sidebar-bg{
    text-align: center;
    color: white;
    padding: 10rem 0;
    background-image: url(../images/Bakg.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: color-burn;
    background-color: #0d10289f;
}
.h1-title{
    text-align: center;
    font-size: 200%;
    width: 95%;
    color: green;
    margin: auto;
}
.sidebar-bg .tittle, .sub-title{
    line-height: 2.5rem;
    margin: 0 auto;
}
.mian-box{
    display: flex;
    border-top: 2px solid orange;
    border-radius:0.5rem;
    padding: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-text,.card-head{
    line-height: 2rem;
    margin-left: 1rem;
}
.icon-cicle{
    border-radius: 10rem;
}
.icon-center{
    text-align: center;
    margin: 0.6rem auto;
}
.icon-cicle img{
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
}
/* ----------- commit page ------ */
.card-flex-line{
    display: flex;
    margin: 0.8rem 0;
}
.card-line{
    width: 10rem;
    margin: 0 0.4rem;
    display: flex;
    align-items: center;
}
.line-orang{
    height: 6px;
    background-color: orange;
}
.line-black{
    height: 6px;
    background-color: #0D1028;
}
.subject{
    width: 3.5rem;
    margin: 0 0.8rem;
}
.name-center{
    text-align: center;
}
.wd-line-1{width: 1rem;} .wd-line-2{width: 2rem;} .wd-line-3{width: 3rem;} .wd-line-4{width: 4rem;} .wd-line-5{width: 5rem;}
.wd-line-6{width: 6rem;} .wd-line-7{width: 7rem;} .wd-line-8{width: 8rem;} .wd-line-9{width: 9rem;} .wd-line-10{width: 10rem;}

/* -------------- Education page ----------- */

.h2-title{
    color: orange;
}
.bg-dark{
    background-color: #0D1028;
    color: white;
}
.bg-green{
    background-color: green;
    color: white;
}
.bg-orange{
    background-color: orange;
    color: white;
}
.card-top{
    margin-top: -5.8rem;
}
.btn-center{
    width: 100%;
    text-align: center;
}
.card-border{
    border-left: 2rem solid orange;
    border-right: 2rem solid orange;
    border-top: 2rem solid orange;
    padding: 0;
}
/* --------------- contact ----------- */
.short-sentent{
    width: 12rem;
    margin:0 auto;
    padding: 4rem 0;
}
form{
    width: 100%;
    padding: 1rem 0;
}
.card-center{
    margin: auto;
    width: 60%;
    background-color: #0d1028;
}
.head-form{
    text-align: center;
    color: white;
}
.form-group{
    color: white;
    margin: 1rem;
}
.form-control{
    width: 100%;
    padding: 0.8rem;
    border-radius: 0.5rem;
}
.form-btn{
    width: 90%;
    margin: 0 auto;
    text-align: center;
}
.form-control-btn{
    font-size: larger;
    padding: 0.4rem 1rem;
    border-radius: 0.4rem;
    background-color: orange;
    color: white;
}
.form-control-btn:hover{
    background-color: white;
    color: black;
    border: 1px solid #0D1028;
    transition: 1s;
}
textarea{
    resize: none;
}
.map{
    text-align: center;
}
.map iframe{
    width: 96%;
    border-radius: 0.4rem;
}
/* ------ footer -------- */
footer{
    background-color: #0D1028;
}
.card-footer{
    margin: auto;
    width: 90%;
    display: flex;
}
.card-ft{
    color: white;
    margin: 0 auto;
}
.card-ft a{
    color: white;
}
.card-ft small{
    color: orange;
}
.ttl-ft{
    margin: 1rem 0;
}
ol li{
    line-height: 2rem;
}
.social-media{
    margin: 1rem 0;
}
.social-media .fa{
    font-size: 150%;
    color: green;
    margin-right: 1rem;
}
/* ------- Phone ----------- */
@media(max-width: 700px){
    nav{
        width: 100%;
        padding: 0 2.8rem 0 2rem;
    }
    nav ul{
        width: 100%;
        position: fixed;
        top: 18%;
        left: -100%;
        transition: all 1s;
        background-color: rgba(0, 0, 0, 0.795);
    }
    nav ul li{
        text-align: center;
        width: 100%;
        display: block;
        line-height: 2rem;
    }
    nav ul li a{color: white;}
    #checkmenu{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #checkmenu{
        display: none;
    }
    #check:checked ~ label #cancell{
        display: block;
        color: red;
    }
    
    .home{
        padding: 8.5rem 0;
    }
    .card{
        flex-wrap: wrap;
        width: 100%;
        margin: 1rem auto;
    }
    .image{
        width: 100%;
    }
    .card-cotent{
        width: 100%;
        padding: 1rem;
    }
    /* ------------------ about ---------- */
    .sidebar-bg .tittle, .sub-title{
        width: 20rem;
    }
    .mian-box{
        width: 100%;
    }

    /* ------ footer -------- */
    .card-footer{
        flex-wrap: wrap;
    }
    .card-ft{
        width: 96%;
        padding: 0 4rem;
    }
}
/* -------- tablet ----------- */

@media(min-width: 650px){
    nav{
        padding:0 4rem;
    }
    .home{
        padding: 10rem 0;
    }
/* -------------- about teblet ---------- */
.sidebar-bg .tittle, .sub-title{
    width: 25rem;
}
.card{
    flex-wrap: wrap;
    width: 100%;
}
.mian-box{
    margin: 0.4rem;
    width: 48%;
}
/* ---------- contact ---- */
.form-group{
    width: 100%;
}
.pd-form{
    padding: 0 1.5rem 0 0;
}
    /* ----- footer ----- */
    .card-footer{
        flex-wrap: wrap;
    }
    .card-ft{
        width: 45%;
        padding: 0 4rem;
    }
}
/* ------- Destop ------------ */
@media(min-width: 900px){
    nav{
        padding: 0 4rem;
    }
    .home{
        padding: 8rem;
    }
    .card{
        width: 96%;
        flex-wrap: wrap;
    }
    /* ------- about  -------- */
    .sidebar-bg .tittle, .sub-title{
        width: 30rem;
    }

    .mian-box{
        width: 32%;
        margin: 0.4rem;
    }
    .card-body{
        padding: 0 1.4rem;
    }
/* ----------- contact -------- */
.form-group{
    width: 80%;
    margin: 0.8rem auto;
}
/* ------- footer ----------- */
    .card-ft{
        width: 30%;
        padding: 0 5rem;
    }
}