@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Battambang:wght@100;300&family=Gowun+Batang:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    position: sticky;
    top: 0;
    z-index: 9.99;
    background-color: aliceblue;
}

.logo img{
    margin-left: 5%;
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
}
#check,.checkbtn{display: none;}

.checkbtn{
    float: right;
    font-size: 150%;
    margin-top: -3rem;
}
nav ul{
    margin-right: 6%;
    float: right;
    margin-top: -2.5rem;
}
nav ul li{
    display: inline-block;
    margin: 0 1rem;
}
a{
    color: black;
}
nav ul li a:hover{
    border-bottom: 2px solid orange;
}
.active{
    border-bottom: 2px solid orange;
}
.container{
    width: 98%;
    margin: auto;
}
.home{
    width: 100%;
    margin: auto;
    background-image: url(../images/computer.webp);
    background-size: cover;
    background-position: center;
    background-blend-mode: color-burn;
    background-color:  #0d1028bd;
}
.home .tittle ,.small{
    text-align: center;
    color: white;
    line-height: 2.5rem;
    margin: auto;
}
.both-btn{
    margin: auto;
    display: flex;
    width: 10rem;
}
button a{
    color: white;
}
.btn{
    margin-top: 1rem;
    border-radius: 0.5rem;
    width: 5.5rem;
}
.mg-auto{
    margin-right: auto;
    margin-left: auto;
}

button{
    color: white;
    padding: 0.6rem;
    background-color: green;
}
button:hover{
    cursor: pointer;
    transition: all 0.6s;
    opacity: 80%;
}
.btn-rht{
    width: 5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    clip-path: polygon(0 0, 100% 0, 95% 100%, 0% 100%);
}
.btn-lft{
    width: 5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    clip-path: polygon(5% 0, 100% 0, 100% 100%, 0% 100%);
}
.text-middle{
    width: 98%;
    text-align: center;
    position: relative;
    top: -0.6rem;
    color: white;
}
.hd-middle{
    padding: 0.8rem 3rem;
    background-color: green;
    clip-path: polygon(100% 0, 90% 51%, 100% 100%, 0 100%, 10% 51%, 0 0);
}
.card{
    display: flex;
    margin:1rem auto;
}
.image{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-cotent{
    width: 50%;
    padding: 1rem 3rem;
    line-height: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* -------------- About ---------- */
.sidebar-bg{
    text-align: center;
    color: white;
    padding: 12rem 0;
    background-image: url(../images/Bakg.jpg);
    background-size: cover;
    background-position: right;
    background-blend-mode: color-burn;
    background-color: #0d10289f;

}
.h1-title{
    text-align: center;
    width: 95%;
    color: green;
    margin: auto;
}
.sidebar-bg .tittle, .sub-title{
    line-height: 2.5rem;
    margin: 0 auto;
}
.bg-green{
    background-color: green;
}
.mian-box{
    display: flex;
    padding: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.card-text,.card-head{
    line-height: 2rem;
    margin-left: 1rem;
}
.icon-cicle{
    border-radius: 10rem;
}
.icon-center{
    text-align: center;
}
.icon-cicle img{
    border-radius: 10rem;
    width: 4rem;
    height: 4rem;
}

/* ----------- commit page ------ */

.card-flex-line{
    display: flex;
    margin: 0.8rem 0;
}

.card-line{
    width: 10rem;
    margin: 0 0.4rem;
    display: flex;
    align-items: center;
}
.line-orang{
    height: 6px;
    background-color: orange;
}
.line-black{
    height: 6px;
    background-color: #0D1028;
}
.subject{
    width: 3.5rem;
    margin: 0 0.8rem;
}
.name-center{
    text-align: center;
}
.wd-line-1{width: 1rem;} .wd-line-2{width: 2rem;} .wd-line-3{width: 3rem;} .wd-line-4{width: 4rem;} .wd-line-5{width: 5rem;}
.wd-line-6{width: 6rem;} .wd-line-7{width: 7rem;} .wd-line-8{width: 8rem;} .wd-line-9{width: 9rem;} .wd-line-10{width: 10rem;}




/* ------ footer -------- */
footer{
    background-color: #0D1028;
}
.card-footer{
    margin: auto;
    width: 90%;
    display: flex;
}
.card-ft{
    color: white;
    margin: 0 auto;
}
.card-ft a{
    color: white;
}
.card-ft small{
    color: orange;
}
.ttl-ft{
    margin: 1rem 0;
}
ol li{
    line-height: 2rem;
}
.social-media{
    margin: 1rem 0;
}
.social-media .fa{
    font-size: 150%;
    color: green;
    margin-right: 1rem;
}


/* ------- Phone ----------- */

@media(max-width: 700px){
    nav{
        width: 100%;
        padding: 0 4rem;
    }
    nav .logo{
        font-size: 150%;
    }
    nav ul{
        width: 100%;
        position: fixed;
        top: 18%;
        left: -100%;
        transition: all 1s;
        background-color: rgba(0, 0, 0, 0.795);
    }
    nav ul li{
        text-align: center;
        width: 100%;
        display: block;
        line-height: 2rem;
    }
    nav ul li a{color: white;}
    .checkbtn{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .tittle, .small{
        font-size: large;
        padding: 0 1rem;
    }
    .home{
        padding: 10rem 0;
    }
    .card{
        flex-wrap: wrap;
        width: 100%;
        margin: 1rem auto;
    }
    .image{
        width: 100%;
    }
    .card-cotent{
        width: 100%;
        padding:1rem;
    }
    /* ------------------ about ---------- */
    .sidebar-bg .tittle, .sub-title{
        width: 20rem;
    }
    .mian-box{
        width: 100%;
    }


    /* ------ footer -------- */
    .card-footer{
        flex-wrap: wrap;
    }
    .card-ft{
        width: 90%;
        padding: 0 5rem;
    }
    
}

/* -------- tablet ----------- */

@media(min-width: 700px){
    nav{
        padding:0 4rem;
    }
    .home{
        padding: 10rem 0;
    }
    
    
/* -------------- about teblet ---------- */
.sidebar-bg .tittle, .sub-title{
    width: 25rem;
}
.card{
    flex-wrap: wrap;
    width: 100%;

}
.mian-box{
    margin: 0.4rem;
    width: 48%;
}
    /* ----- footer ----- */
    
    .card-footer{
        flex-wrap: wrap;
    }
    .card-ft{
        width: 45%;
        padding: 0 4rem;
    }

}

/* ------- Destop ------------ */
@media(min-width: 900px){
    nav{
        padding: 0 4rem;
    }
    .home{
        padding: 12rem;
    }
    .card{
        width: 96%;
        flex-wrap: wrap;
    }
    /* ------- about  -------- */
    .sidebar-bg .tittle, .sub-title{
        width: 30rem;
    }

    .mian-box{
        width: 32%;
        margin: 0.4rem;
    }
    .card-body{
        padding: 0 1.4rem;
    }

/* ------- footer ----------- */
    .card-ft{
        width: 30%;
        padding: 0 2rem;
    }
}